@{
    ViewData["Title"] = "Home Page";
}
@{
    ViewBag.Title = "Home";
}
@{
    ViewBag.Title = "Dashboard";
    string fullName = Context.Session.GetString("FullName");
}

<div class="container mt-5">
    <div class="bg-white p-4 rounded shadow">
        <h3>Halo, @fullName 👋</h3>
        <p>Selamat datang di dashboard.</p>
    </div>
</div>
